/* Met l'image de fond */
body{
	background: url('../images/background-quiz.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#barreProgression {
	transition: width 0.5s;
}
.btn-group-toggle {
	margin: 0px;
	margin-bottom: 20px;
}
.btn-secondary {
	background-color: rgb(131, 177, 192);
	color: whitesmoke;
}
.btn-secondary:not(:disabled):not(.disabled).active {
	background-color: cadetblue;
}
label{
	margin: 2px;
}
body > *, .modal-content{
	background-image: linear-gradient(#3b546b, #345172);
    color: white;
}

.modal-content>*{
	background-color: transparent;
}

label>span{
	margin: 8px;
	display: block;
}