
body{
	background: url('../images/plageChien.jpg') no-repeat fixed center;
	background-size: cover;
	height: 100%;
}

#barreProgression {
	transition: width 0.5s;
}

.btn-secondary {
	padding: 25px;
	background-color: lightblue;
	color: whitesmoke;
}
.btn-secondary:not(:disabled):not(.disabled).active {
	background-color: lightgreen;
	color: green;
}