body{
	background: url('../images/background-quiz.jpg') no-repeat fixed center;
	background-size: cover;
	height: 100%;
}

#barreProgression {
	transition: width 0.5s;
}
.btn-group-toggle {
	margin: 0px;
	margin-bottom: 20px;
}
.btn-secondary {
	background-color: lightblue;
	color: whitesmoke;
}
.btn-secondary:not(:disabled):not(.disabled).active {
	background-color: cadetblue;
}

label>p{
	margin: 8px;
}

label{
	margin: 2px;
}
body > *, .modal-content{
	background-image: linear-gradient(#5a7288, #345172);
    color: white;
}

.modal-content>*{
	background-color: transparent;
}