    html {
        /* Assure que la pages s'approprie tout la zone de render qui lui est réserver, c'est-à-dire tout la fenêtre.)*/
        height: 100%;
    }
    
    body {
        /* Met l'image de fond */
        background: url('../images/oceanTrash.JPG') no-repeat fixed center;
        background-size: cover;
    }
    
    .page-footer,
    main,
    header {
        /* Ajoute de l'ombre au element principal */
        box-shadow: 1px 1px 1px 1px #0005;
    }
    /* Ajour du Linear-gradient */
    
    header {
        background-image: linear-gradient(#454d54, #343a40);
    }
    
    .page-footer {
        background-image: linear-gradient(#343a40, #454d54);
    }
    /* attribut pour text glow */
    
    .glow {
        text-shadow: 1px 1px 9px #777;
    }
    /* Ajout d'une transition au survol de nos nom, requies dans TP1-Prorgammation-Web.pdf */
    
    .name {
        -webkit-transition: color 1s;
        transition: color 1s;
    }
    
    .name:hover {
        color: aqua;
    }
    /* other */
    
    .border-round {
        border-radius: 27px;
        border: 2px solid #343a40;
        padding: 20px;
        margin: 20px;
        background-color: white;
    }
    
    .floatleft {
        float: left;
    }
    
    .floatright {
        float: right;
    }
    
    .facebook {
        border: none;
        overflow: hidden;
    }
    
    .etude-icon {
        height: 200px;
        width: 200px;
    }
	
	.minimumsize {
		min-width: 700px;
	}