/* Met l'image de fond */
body {
    background: url('../images/oceanTrash.JPG') no-repeat fixed center;
    background-size: cover;
}

/* Ajout d'une transition au survol de nos nom, requies dans TP1-Prorgammation-Web.pdf */
.name { transition: color 1s; }
.name:hover { color: aqua; }

hr { background-color: white; }